body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./food.webp'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

#upload-form {
    background-color: rgba(255, 255, 255, 0.5); /* 50% opacity */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    color: white;
    font-size: 18px;
}
